
<div id="{{ id }}" class="carousel {{ effect }}"
    data-interval="{{ interval }}"
    {% if ride %} data-ride="carousel" {% endif %}
    data-pause="{% if pause %}hover{% else %}false{% endif %}"
>
  {# Show indicators if set in view. #}
  {%  if indicators %}
  <ol class="carousel-indicators">
      {% for key, row in rows %}
          {% set indicator_classes = [loop.first ? 'active'] %}
          <li class="{{ indicator_classes|join(' ') }}" data-target="#{{ id }}" data-slide-to="{{ key }}"></li>
      {% endfor %}
  </ol>
  {% endif %}

  {# Carousel body. #}
  <div class="carousel-inner">
    {% for row in rows %}
        {% set row_classes = ['carousel-item', loop.first ? 'active'] %}
        <div class="{{ row_classes|join(' ') }} {{ row.field_banner_overlay|lower|striptags|trim }}">

        {# Used For Pattern Lab only. #}

        {% include '@atoms/02-image/image.twig' with {
          "img_src" : row.img_src,
          "img_alt" : row.img_alt
        } %}

        {{ row.image }}
        {% if row.title or row.description %}
            {%  if use_caption %}
            <div class="carousel-caption d-md-block container {{ row.field_text_alignment|lower|striptags|trim }} {{ row.field_text_color|replace(' ', '-')|lower|striptags|trim }}">
            {% endif %}
            {% if row.title %}
              {% include '@atoms/07-elements/headings/heading.twig' with {
                "heading_level": heading_level ?: 1,
                "heading": row.title,
              } %}
            {% endif %}
            {% if row.description %}
              <p>{{ row.description }}</p>
            {% endif %}
            {{ row.field_cta }}
            {%  if use_caption %}
            </div>
            {% if row.field_image_credit_attribution %}
              <div class="image--credit slider-credit">
                {{ row.field_image_credit_attribution }}
              </div>
            {% endif %}
            {% endif %}
        {% endif %}
        </div>
    {% endfor %}
  </div>
  {# Controls #}
  {% if navigation %}
    <a class="carousel-control-prev" href="#{{ id }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">{{ 'Previous'|t }}</span>
    </a>
    <a class="carousel-control-next" href="#{{ id }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">{{ 'Next'|t }}</span>
    </a>
  {% endif %}
</div>
